<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="FirmPulse" android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="false"
        android:usesCleartextTraffic="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".WatchJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <provider android:name=".ShareProvider" android:authorities="io.github.haroonjadoon.firmscope.share" android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
